
body {
    background-image: url("../images/images.jpg");
}
p{
  margin-left: 10px;
  margin-top: 70px;
  color: rgb(196, 81, 81);
  font-size: 80px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  
}
h1{
  color: rgb(213, 228, 5);
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 200px;


}




 


